@import "normalize";
@import "font.css";
@import "buttons.css";
@import "recipe-list.css";
@import "ingredient-list.css";
@import "recipe.css";
@import "ingredient-list.css";
@import "recipe-edit.css";
@import "heading.css";
@import "searching.css";

*,
*::after,
*::before {
  font-family: Gotham Rounded, "sans-serif";
  box-sizing: border-box;
}

html {
  font-size: 25px;
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 242, 226);
}

.mr-1 {
  margin-right: 5px;
}

#root {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
}

input,
textarea {
  background-color: rgb(255, 242, 226);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(255, 242, 226);
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
